<!--
    LetterBox :
    Ce composant affiche une lettre unique sur une grille de Motus, en MAJUSCULE (même si l'entrée est une minuscule) 
    Si elle est "révélée", alors elle affiche une couleur différente selon sa position dans le mot, indiquée par le prop "status". 
    Sinon, elle garde sa couleur bleue par défaut.
    Il expose 3 props : 
        - "letter", la lettre à afficher sous la forme d'un string
        - "status", une chaîne de caractères représentant sa position dans le mot parmi les 3 suivantes :
            - "ok" : valeur passée pour signifier que la lettre est au bon endroit dans le mot
            - "misplaced" : valeur passée pour signifier que la lettre existe dans le mot mais n'est pas à la bonne place
            - "error" : valeur passée pour signifier que la lettre n'existe pas dans le mot
        - "revealed", un booléen permettant d'afficher ou non graphiquement le statut de la lettre 
            (tant que l'utilisateur n'a pas validé son essay, la lettre n'est pas "révélée", et il ne sait pas s'il a vu juste)

    
    Les classes CSS correspondant aux trois statuts possibles vous sont fournies : 
        - "ok" (rouge), 
        - "misplaced" (jaune) 
        - et "error" (gris)
    Ces classent doivent être placées sur l'élément uniquement si la lettre est révélée.
    
    - Quel que soit son statut, la lettre doit avoir la classe "box" fournie ci-dessous.
    - Quelle que soit la casse de la lettre fournie, le rendu doit être en MAJUSCULES
    - Si plusieurs lettres lui sont fournies, elle ne doit afficher que la première
    - Si aucune lettre ne lui est fournie, elle doit afficher un point "."
-->

<script setup>
// TODO : Intégrez ici votre code
</script>

<template>
<!-- TODO : Intégrez ici votre code-->
</template>

<style scoped>
.box {
    display : inline-flex;
    height : 2em;
    width : 2em;
    border-radius: 0.2em;
    background-color: rgb(60, 42, 221);
    align-items: center;
    justify-content: center;
    color : white;
    margin : 0.1em;
    font-weight: bold;
    transition : background-color 0.2s ease-out, border-radius 0.2s ease-out;
    line-height: 1em;
}
.misplaced {
    border-radius: 50%;
    background-color: rgb(241, 184, 51);
}

.ok {
    background-color: red;
}

.error {
    background-color: rgb(128, 128, 128);
}
</style>
