<!--
    Motus
    Ce composant a pour but d'immiter le jeu de Motus.
    Il exposera le prop "word" représentant le mot à deviner.
    Il contiendra :
     - Une liste de tentatives sous forme de mots révélés (MotusWord avec le prop revealed à true)
     de la même taille que le mot recherché selon le nombre de tentatives déja effectuées par l'utilisateur.
     - un mot non-révélé (MotusWord également) affichant une proposition soumise dans le champ d'input ci-dessous
     - un champ d'input de type texte limité au nombre de lettres du mot recherché (attribut "maxlength" sur l'élément HTML)
     - un bouton (<button>) avec le texte "Valider" permettant de soumettre la tentative.
     
    Lorsque la tentative est validée par un clic sur le bouton: 
        - une ligne avec le mot révélé est ajouté à la liste de tentatives (en bas)
        - Le champ d'input est réinitialisé à la chaîne de caractères vide
        - Si la proposition est effectivement le mot recherché, le champ, le bouton et le mot non révélé disparaissent, 
        ne laissant que la liste conclue par le mot validé
        - Si la proposition est vide, alors appuyer sur "Valider" ne fait rien

-->

<script setup>
// TODO : Intégrez ici votre code
</script>

<template>
<!-- TODO : Intégrez ici votre code-->
</template>

<style scoped>
</style>
