<!-- 
    MotusWord
    Ce composant affiche un mot entier au motus en fonction d'un mot à trouver et d'une proposition de mot.
    La proposition est affichée et chaque lettre s'affiche différement en fonction de sa présence dans
    le véritable mot.
    Comme LetterBox, il peut être révélé ou non.
    S'il est révélé, alors toutes ses lettres sont révélées. Sinon, elles sont toutes bleues par défaut.
    Ce composant doit exploiter le composant LetterBox.
    Il définit trois props :
        - word : le mot que l'utilisateur doit deviner
        - proposition : une proposition de mot faite par l'utilisateur sous la forme d'un string
        - revealed : un booléen permettant de révéler le statut de chaque lettre visuellement.
            (tant que l'utilisateur n'a pas validé sa saisie, "revealed" est à fausse et toutes les lettres sont bleues)

    ⚠ Ce composant doit utiliser LetterBox autant de fois que de lettres dans le mot cible.
    Si la proposition est plus courte que le mot, alors les lettres restantes doivent être des points (".")
    Si la proposition est plus longue que le mot, alors les lettres au delà du mot sont ignorées
    Si le composant n'est pas dans un état révélé, alors toutes les lettres restent dans leur état "non révélé" (bleu) quel que 
    soit leur statut.
-->

<script setup>
// TODO : Intégrez ici votre code
</script>

<template>
<!-- TODO : Intégrez ici votre code-->
</template>

<style scoped>
</style>
