
<script setup>
import Motus from "./components/Motus.vue";
import LetterBox from "./components/LetterBox.vue";
import MotusWord from "./components/MotusWord.vue";
import { ref } from "vue";

function random(array){
  const randomIndex = Math.floor(Math.random()*array.length);
  return array[randomIndex];
}

const shouldReveal = ref(false);

const words = ["banane", "gommette", "farine", "berger", "raton", "voiture", "garage", "motus", "bordure", "avion", "camping", "squelette", "danse", "finale","jambon", "moche"]
const word = random(words);

function reveal(){
  shouldReveal.value = true;
}
</script>

<template>
<section>
  <h1>LetterBox</h1>
  <LetterBox letter="y" status="ok" :revealed="true"></LetterBox>
  <LetterBox letter="n" status="misplaced" :revealed="true"></LetterBox>
  <LetterBox letter="o" status="error" :revealed="true"></LetterBox>
  <LetterBox letter="v" status="misplaced" :revealed="false"></LetterBox>
</section>
<section>
  <h1>MotusWord</h1>
  <MotusWord word="raton" proposition="tenor" :revealed="shouldReveal"></MotusWord>
  <button @click="reveal">Reveal</button>
</section>
<section>
  <h1>Motus</h1>
  <Motus :word="word"></Motus>
</section>
</template>


<style>
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  section {
    margin : auto;
    max-width: 700px;
  }
</style>
